<template>
  <section class="container">

    <div class="row p-5">

      <div class="col">
        <div class="card">
          <div class="card-body justify-content-center">
            <h5 class="card-title">Creación de variables</h5>
            <div class="input-group mb-3">
              <input type="text"
                     class="form-control"
                     v-model="newVariable"
              >
              <div class="input-group-append">
                <button class="btn btn-outline-secondary"
                        type="button"
                        @click="onCreateNewVariable()"
                >Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Valores del dominio</h5>
            <div class="input-group mb-3">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Agregar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row p-5">

      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Asignar restricciones</h5>

            <div class="row">

              <div class="col">
                <div class="form-group">
                  <label>Selecciona una variable</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>Selecciona el operador</label>
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label>Selecciona una variable</label>
                  <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

            </div>

            <button class="btn btn-outline-secondary">
              Agregar restricción
            </button>

          </div>
        </div>
      </div>

    </div>

    <div class="row p-5">
      <div class="col">
        <pre>
          {{ variables }}
        </pre>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  data () {
    return {
      variables: [],
      domain: [],
      newVariable: ''
    }
  },

  methods: {
    onCreateNewVariable () {
      this.variables.push(this.newVariable)
    }
  }

}
</script>

<style>

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
